/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-7-13, 15:41:09
    Author     : Administrator
*/



        *{
            margin:0;
            padding:0;
        }
        .wrapper{
            width:1620px;
            margin-left: auto;
            margin-right: auto;
            color:#fff;
            font-size: 30px;
            text-align: center;
        }
        #header{
            height: 80px;
            background: #000000;
            margin-bottom: 10px;
        }
        .sidebar{
            float: left;
            width: 200px;
            margin-right: 20px;
            margin-bottom: 10px;
            height: 940px;
            background: #f8f8ff;
        }

        .content{
            float: left;
            width: 1400px;
            height: 940px;
            background: #ffffff;
            color: #5d33cf;
            margin-bottom: 10px;
        }

        #footer{
            background: #dcdcdc;
            height: 80px;
            clear: both;
        }

        table{width:1400px;border:0;margin:5px;text-align:center;border-collapse:collapse;border-spacing:0;font-size:18px;color:#000000;}
        table th{background:#DCDCDC;font-size:18px;color:#000000;text-align:center;font-style:normal;}
        table tr:nth-child(odd){background:#F4F4F4;}
        table tr:hover{background:#fff0f5;color:#000000;}
        table td,table th{border:1px solid #EEE;font-size:18px;color:#000000;height:50px;align:center;}
       

    

